@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


@theme {
	--font-sansita: Sansita;
	--font-alegreya: Alegreya, sans-serif;
	--color-primary: #313131;
	--color-secondary: #262626;
	--color-accent: #4CCCFF;
	--color-secordary-white: #F9F9F9;
	--color-gray: #626262;
	--color-hover: #7a7a7a;
	--color-nav: #121212;
	--color-runnerup: #1F1F1F;
	--color-menu: #6C6C6C;
	--color-link: #808080;
	--color-link-hover: #bdbdbd;
}


